* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page {
    position: relative;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: #FDE100;
}

body::before {
    content: '';
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background: black; */
    /* background-image:linear-gradient( -20deg,rgba(0, 0, 0, 0.5), rgba(253, 225, 0, 0.9) ),
    url(https://img4.goodfon.com/wallpaper/nbig/c/c0/logo-wallpaper-borussia-dortmund-sport-football.jpg); */
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    position: fixed;
    top: -100px;
    min-height: 75px;
    padding: 10px 20px;
    padding-top: 5rem;
    width: 105%;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    background-color: #FDE100;
    transform: rotate(-4.5deg);
    margin-left: -12px;
}

#logo {
    width: 25vw;
    margin-right: 4rem;
    transform: rotate(4.5deg);
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#logo > a {
    color: #FDE100;
    text-decoration: none;
}

li {
    list-style: none;
}

@media (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
}

nav {
    font-weight: 400;
}

#nav-bar {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* margin-left: 10vw; */
}

.nav-link {
    padding: 10px 20px 20px 20px;
    height: 40px;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}

nav > ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a:hover {
    /* color: darkorange; */
    color: #FDE100;
    background-color: black;
}

li:hover {
    background-color: black;
}

img {
    width: 100%;
    max-width: 100px;
    max-height: 100px;
    margin-left: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #FDE100;
}

#main {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    margin-top: 100px;
}

#main > h2 {
    margin-bottom: 15px;
    font-weight: 500;
}

#email {
    max-width: 275px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

#submit {
    max-width: 170px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #fde100;
    border-radius: 5px;
}

.button {
    padding: 0 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}