
@font-face {
    font-family: 'DINbold';
    src: url('/styles/fonts/din-condensed-bold.ttf');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#page {
    position: relative;
}

body {
    /* font-family: 'Lato', sans-serif; */
    font-family: 'DINbold', sans-serif;
    background-color: black;
    color: #FDE100;
    font-size: 1.5rem;
}


body::before {
    content: '';
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* background: black; */
    /* background-image:linear-gradient( -20deg,rgba(0, 0, 0, 0.5), rgba(253, 225, 0, 0.9) ),
    url(https://img4.goodfon.com/wallpaper/nbig/c/c0/logo-wallpaper-borussia-dortmund-sport-football.jpg); */
    position: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    position: fixed;
    top: -100px;
    min-height: 75px;
    padding: 10px 20px;
    padding-top: 5rem;
    width: 105%;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    background-color: #FDE100;
    transform: rotate(-4.5deg);
    margin-left: -12px;
}

#logo {
    width: 25vw;
    margin-right: 4rem;
    transform: rotate(4.5deg);
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

#logo > a {
    color: #FDE100;
    text-decoration: none;
}

li {
    list-style: none;
}

@media (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
}

nav {
    font-weight: 400;
}

#nav-bar {
    display: flex;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* margin-left: 10vw; */
}

.nav-link {
    padding: 10px 20px 20px 20px;
    height: 40px;
    font-size: 1em;
    text-transform: uppercase;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}

nav ul {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a:hover {
    /* color: darkorange; */
    color: #FDE100;
    background-color: black;
}

li:hover {
    background-color: black;
}

img {
    width: 100%;
    max-width: 100px;
    max-height: 100px;
    margin-left: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #FDE100;
}

#container {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

#container section {
    margin-top: 200px;
}

#main {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    margin-top: 150px;
}

#main h2 {
    margin-bottom: 15px;
    font-weight: 500;
}

#email {
    max-width: 275px;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-style: inherit;
}

input {
    font-weight: 600;
    /* background-color: #FDE100; */
}

#submit {
    max-width: 170px;
    width: 100%;
    height: 30px;
    margin: 15px 0;
    border: 0;
    background-color: #fde100;
    border-radius: 5px;
}

#submit:hover {
    background-color: #dfb510;
    transition: background-color 0.5s;
}

.button {
    padding: 0 20px;
    height: 40px;
    font-size: 0.7em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black solid;
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
}

/* AQUI */

#infos {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

iframe {
    /* position: absolute;
    z-index: 1; */
    max-width: 560px;
    width: 100%;
}

/* #rectangle {
    position: relative;
    top: 115px;
    z-index: 0;
    width: 115%;
    margin-left: -12px;
    padding-right: 0px;
    height: 100px;
    background-color: #FDE100;
    transform: rotate(-4.5deg);
} */


.subsection {
    display: flex;
    box-sizing: border-box;
}

.fas:before {
    display: inline-block;
    font: normal normal normal 14px/1 'Font Awesome 5 Free';
    font-size: inherit;
    font-weight: 900;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* .fa-truck:before {
    content: "\f0d1";
} */

.fa-3x {
    font-size: 3em;
}

.product > button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
}

#features .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;
    width: 20vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




@media (max-width: 550px) {
    #features .icon {
      display: none;
    }
}

/*O erro foi corrigido mudando aqui*/
#features .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 125px;
    width: 80vw;
    padding: 5px;
}

@media (max-width: 550px) {
    #features .desc {
      width: 100%;
      text-align: center;
      padding: 0;
      height: 150px;
    }
}
  
  @media (max-width: 650px) {
    #features {
      margin-top: 0;
    }
}

#how-it-works > iframe {
    max-width: 560px;
    width: 100%;
}

#prices {
    margin-top: 160px; /*60px*/
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
    margin: 10px;
    border: 1px solid #dfb510;
    border-radius: 3px;
}

.product > .level {
    background-color: #dfb510;
    color: black;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
  }

.product > h2 {
    margin-top: 15px;
}

.product > ol > li {
    padding: 5px 0;
}

.product > button {
    border: 0;
    margin: 15px 0;
    background-color: #f1c40f;
    font-weight: 400;
}
  
.product > button:hover {
    background-color: orange;
    transition: background-color 1s;
}
  
 @media (max-width: 800px) {
    #pricing {
      flex-direction: column;
    }
    .product {
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 10px;
    }
}
  
footer {
    margin-top: 30px;
    background-color: #f1c40f;
    padding: 20px;
}
  
footer > ul {
    display: flex;
    justify-content: flex-end;
}
  
footer > ul > li {
    padding: 0 10px;
}
  
footer > span {
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    font-size: 0.9em;
    color: #444;
}
